:root{
    --foo:"./img/strawberry";
}
body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(17, 22, 90);
}
h1{
    margin-bottom: 5px;
}

footer{
    margin-top: 10px;
}
 canvas{
     border: 20px solid yellowgreen;
 }